.wrapper {
    display: block;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
}

.input {
    padding: 5px 0 5px 15px;
    width: 150px;
    border-radius: 20px;
}

.label-text {
    display: inline-block;
    width: 120px;
}
